

<h2>Por país</h2>

<hr>

<div class="row">

    <div class="col">

        <form autocomplete="off">

            <input
            type="text"
            name="termino"
            placeholder="Buscar país..."
            class="form-control"/>

        </form>

    </div>

</div>

<hr>

<div class="alert alert-danger">
    No se encontró nada
</div>

<div class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th> # </th>
                    <th> Bandera </th>
                    <th> Nombre </th>
                    <th> Población </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <td>1</td>
                  <td>bandera</td>
                  <td>nombre</td>
                  <td>546546</td>
                  <td><a href="#"></a> Ver... </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
